*{
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
	width: 100%;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 18px;
  z-index: 1;
  border: none;
  outline: none;
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

header{
	background-image: url('img/img-index1/1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 747px;
}

header nav{
	background-color: #000;
	height: 70px;
	opacity: 0.8	;
}

header nav h1{
	color: #fff;
	font-style: italic;
	padding: 15px;
	padding-left: 25px;
	display: inline-block;
	font-size: 35px;
}

header nav div ul{
	list-style-type: none;
	float: right;
	display: flex;
	margin-top: 20px;
}

header nav div ul li a{
	color: #fff;
	margin-right: 25px;
	text-decoration: none;
	font-size: 20px;
	border: 1px solid #fff;
	padding: 10px 15px;	
}

header nav div ul li a:hover{
	background-color: #fff;
	color: #000;
	transition: 0.5s;
    animation: linear;
}

.href{
	background-color: #fff;
	color: #000;
}

.header{
	width: 600px;
	height: 500px;
	background-color: #81c132;
	color: #fff;
	margin-top: 100px;
	margin-left: 650px;
	opacity: 0.2;
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
    font-size: 30px;
    box-sizing: border-box;
}

.border1{
	position: absolute;
	border-style: solid;
	border-width: 3px;
	border-color: #fff;
	border-left-style: none;
	border-bottom-style: none;
    width: 94px;
    height: 96px;
    margin: -47px 0 0 auto;
    right: 662px;
    top: 227px;
}

.border2{
	position: absolute;
	top: 560px;
	left: 660px;
	border-style: solid;
	border-width: 3px;
	border-color: #fff;
	border-right-style: none;
	border-top-style: none;
    width: 94px;
    height: 96px;	
}

.header-text{
	display: inline-block;
	position: absolute;
	text-align: center;
	width: 400px;
	height: 350px;
	left: 736px;
	top: 270px;
}

.header-text .text{
	font-size: 20px;
	font-style: italic;
	margin-bottom: 20px;
	color: #fff;
}

.header-text .text1{
	font-size: 70px;
	font-style: italic;
	margin-bottom: 30px;
	color: #fff;
}

.header-text a{
	padding: 10px 15px;
	background-color: #74ae2d;
	border: none;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-variant-caps: small-caps;
}

.header-text a:hover{
	background-color: #53821b;
	transition: 0.3s;
	cursor: pointer;
}

.div1-img{
	display: inline-block;
	float: left;
    margin-left: 250px;
    margin-top: 40px;
}

.div1-img img{
	width: 700px;
    height: 580px;
    box-shadow: 0 0 40px 0 rgb(26 26 26 / 40%);
}

.div1-text{
	width: 500px;
	float: right;
	margin-right: 350px;
	margin-top: 80px;	
}

.div1-text p{
	font-size: 25px;
}

.div1 h2{
	font-size: 3rem;
    font-family: serif;
    line-height: 1.1;
    text-align: left;
	font-weight: 400;
}

.gits{
	width: 65px;
	height: 2px;
	background-color: #74ae2d;
}

.div1 p{
	font-family: 'Open Sans',sans-serif;
	margin: 22px 60px 40px 0;
	color: #696969;
}

.div2-img{
	display: inline-block;
	position: absolute;
	float: right;
	left: 750px;
	top: 1320px;
}

.div2-img img{
	position: absolute;
	width: 620px;
    height: 400px;
    box-shadow: 0 0 31px 0 rgb(26 26 26 / 55%);
}


.div2-text{
	display: flex;
    flex-direction: column;
    float: left;
}

.div2-text h2{
	position: absolute;
	display: flex;
    flex-direction: column;
    width: 310px;
    left: 300px;
    top: 1400px;
    font-size: 40px;
	font-weight: 400;
}

.div2-text1{
	display: inline-block;
	position: absolute;
	width: 320px;
	padding: 10px;
	background-color: #f2f2f2;
	top: 1370px;
	left: 1200px;
}


.div3-text{
	float: left;
	display: inline-block;
	width: 400px;
	position: relative;
	top: 680px;
	right: 500px;
}

.div3-text h2{
    flex-direction: column;
    left: 50px;
    font-size: 40px;
	font-weight: 400;
}

.div3-text p{
	font-family: 'Open Sans',sans-serif;
	margin: 22px 60px 40px 0;
	color: #696969;
	font-size: 20px;
}

.div3-img img{
    position: absolute;
	width: 400px;
    height: 305px;
    top: 2100px;
    left: 820px;
    opacity: 0.8;
    box-shadow: 0 0 31px 0 rgb(26 26 26 / 55%);
}

.div3-img img:hover{
	cursor: pointer;
	opacity: 1;
}

.div3-img1 img{
	position: absolute;
	width: 400px;
    height: 445px;
    top: 1800px;
    left: 1100px; 
    opacity: 0.8;   
    box-shadow: 0 0 31px 0 rgb(26 26 26 / 55%);
}

.div3-img1 img:hover{
	cursor: pointer;
	opacity: 1;
}

.sec{
	position: absolute;
	background-image: url('img/img-index1/6.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 1000px;
	width: 1843px;
	padding: 30px;
	top: 2430px;
}

.sec .column1{
	position: absolute;
	width: 240px;
	height: 400px;
	background-color: #fff;
	opacity: 0.6;
	top: 80px;
	left: 400px;
}

.div4{
	position: absolute;
	padding: 10px;
	left: 280px;
	top: 80px;
}

.div4 h1{
	position: absolute;
	top: 50px;
	left: 130px;
	font-size: 65px;
    color: #346473;
}

.div4 h2{
	position: absolute;
	font-weight: 400;
    font-family: Merriweather,serif;
    font-size: 28px;
    display: inline-block;
    width: 200px;
    top: 55px;
    left: 130px;
    margin-left: 50px;	
}

.div4 p{
	position: absolute;
	width: 200px;
	top: 150px;
	left: 130px;
	margin-left: 5px;
	font-size: 1rem;
    line-height: 1.8;
    font-family: 'Open Sans',sans-serif;
}

.div4 a{
	position: absolute;
	left: 135px;
	top: 340px;
}

.sec .column2{
	position: absolute;
	width: 240px;
	height: 400px;
	background-color: #fff;
	opacity: 0.6;
	top: 80px;
	left: 868px;
}

.div5{
	position: absolute;
	padding: 10px;
	left: 450px;
	top: 80px;
}

.div5 h1{
	position: absolute;
	top: 50px;
	left: 425px;
	font-size: 65px;
    color: #346473;
}

.div5 h2{
	position: absolute;
	font-weight: 400;
    font-family: Merriweather,serif;
    font-size: 28px;
    display: inline-block;
    width: 200px;
    top: 55px;
    left: 470px;	
}

.div5 p{
	position: absolute;
	width: 200px;
	top: 150px;
	left: 430px;
	margin-left: 5px;
	font-size: 1rem;
    line-height: 1.8;
    font-family: 'Open Sans',sans-serif;
}

.div5 a{
	position: absolute;
	left: 435px;
	top: 340px;
}

.sec .column3{
	position: absolute;
	width: 240px;
	height: 400px;
	background-color: #fff;
	opacity: 0.6;
	top: 80px;
	left: 1300px;
}

.div6{
	position: absolute;
	padding: 10px;
	left: 570px;
	top: 80px;
}

.div6 h1{
	position: absolute;
	top: 50px;
	left: 730px;
	font-size: 65px;
    color: #346473;
}

.div6 h2{
	position: absolute;
	font-weight: 400;
    font-family: Merriweather,serif;
    font-size: 28px;
    display: inline-block;
    width: 180px;
    top: 55px;
    left: 780px;	
}

.div6 p{
	position: absolute;
	width: 200px;
	top: 150px;
	left: 730px;
	margin-left: 5px;
	font-size: 1rem;
    line-height: 1.8;
    font-family: 'Open Sans',sans-serif;
}

.div6 a{
	position: absolute;
	left: 735px;
	top: 340px;
}


.sec .column4{
	position: absolute;
	width: 240px;
	height: 400px;
	background-color: #fff;
	opacity: 0.6;
	top: 550px;
	left: 400px;
}

.div7{
	position: absolute;
	padding: 10px;
	left: 280px;
	top: 80px;
}

.div7 h1{
	position: absolute;
	top: 500px;
	left: 130px;
	font-size: 65px;
    color: #346473;
}

.div7 h2{
	position: absolute;
	font-weight: 400;
    font-family: Merriweather,serif;
    font-size: 28px;
    display: inline-block;
    width: 200px;
    top: 510px;
    left: 130px;
    margin-left: 50px;	
}

.div7 p{
	position: absolute;
	width: 200px;
	top: 610px;
	left: 130px;
	margin-left: 5px;
	font-size: 1rem;
    line-height: 1.8;
    font-family: 'Open Sans',sans-serif;
}

.div7 a{
	position: absolute;
	left: 135px;
	top: 800px;
}

.sec .column5{
	position: absolute;
	width: 240px;
	height: 400px;
	background-color: #fff;
	opacity: 0.6;
	top: 550px;
	left: 868px;
}

.div8{
	position: absolute;
	padding: 10px;
	left: 450px;
	top: 80px;
}

.div8 h1{
	position: absolute;
	top: 500px;
	left: 425px;
	font-size: 65px;
    color: #346473;
}

.div8 h2{
	position: absolute;
	font-weight: 400;
    font-family: Merriweather,serif;
    font-size: 28px;
    display: inline-block;
    width: 200px;
    top: 510px;
    left: 470px;	
}

.div8 p{
	position: absolute;
	width: 200px;
	top: 610px;
	left: 430px;
	margin-left: 5px;
	font-size: 1rem;
    line-height: 1.8;
    font-family: 'Open Sans',sans-serif;
}

.div8 a{
	position: absolute;
	left: 435px;
	top: 800px;
}


.sec .column6{
	position: absolute;
	width: 240px;
	height: 400px;
	background-color: #fff;
	opacity: 0.6;
	top: 550px;
	left: 1300px;
}

.div9{
	position: absolute;
	padding: 10px;
	left: 570px;
	top: 80px;
}

.div9 h1{
	position: absolute;
	top: 500px;
	left: 730px;
	font-size: 65px;
    color: #346473;
}

.div9 h2{
	position: absolute;
	font-weight: 400;
    font-family: Merriweather,serif;
    font-size: 28px;
    display: inline-block;
    width: 180px;
    top: 510px;
    left: 780px;	
}

.div9 p{
	position: absolute;
	width: 200px;
	top: 610px;
	left: 730px;
	margin-left: 5px;
	font-size: 1rem;
    line-height: 1.8;
    font-family: 'Open Sans',sans-serif;
}

.div9 a{
	position: absolute;
	left: 735px;
	top: 800px;
}



.main2{
	padding: 50px;
	margin-top: 2630px;
}

.title{
	margin-top: 60px;
}

.title h1{
	text-align: center;
	font-size: 40px;
}

.gits1{
	width: 95px;
	height: 3px;
	background-color: #74ae2d;
    margin: 30px auto 0;
}

.title p{
    position: relative;
    margin-top: 30px;
    margin-left: 49px;
    margin-right: 49px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.div10{
	margin-bottom: 60px;
	margin-left: 360px;
}

.div10-img{
	display: inline-block;
	margin-left: 30px;
}

.div10-img img{
	width: 220px;
	height: 400px;
}

.div10-img h2{
	position: absolute;
	background-color: #fff;
	text-align: center;
	padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans',sans-serif;
    width: 160px;
    top: 3800px;
    margin-left: 15px;
    font-family: serif;
}

.main2 a{
	padding: 15px 30px;
	border: 1px solid #454545;
	text-decoration: none;
	color: #454545;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 2px;
    margin-bottom: 75px;
    margin-left: 775px;
}

.main2 a:hover{
	background-color: #888888;
	border: none;
	color: #fff;
}


.div11{
	margin-top: 60px;
	position: relative;
    font-size: 2.25rem;
    margin: 15px 60px 0;
    font-weight: 400;
    font-family: Merriweather,serif;
    line-height: 1.1;
}

.div11 h1{
	margin-left: 690px;
}

.div11 p{
	font-size: 20px;
	text-align: center;
	font-family: serif;
	margin-top: 30px;
	width: 1000px;
	margin-left: 390px;
}


.div12-text h1{
	float: left;
	width: 380px;
	margin-top: 50px;
    margin-left: 450px;
	font-weight: 400px;
	font-family: Merriweather,serif;
    font-size: 1.875rem;
    line-height: 1.2;
}


.div12 .div12-img{
	float: right;
    margin-top: 50px;
    margin-right: 80px;
}

.div12 .div12-img img{
	width: 700px;
	height: 600px;
	margin-right: 250px;
}

.div12-text1{
	position: absolute;
	background-color: lightgrey;
	width: 350px;
	height: 240px;
	right: 370px;
	top: 4880px;
}

.div12-text1 h3{
	margin-top: 35px;
    margin-left: 40px;
    margin-right: 16px;
	font-weight: 400;
    font-family: Merriweather,serif;
    font-size: 1.875rem;
    line-height: 1.2;
}

.div12-text1 p{
	margin-top: 35px;
    margin-left: 16px;
    margin-right: 16px;
}

.div12-img1 img{
	position: absolute;
	width: 550px;
	height: 300px;
	top: 4800px;
	left: 385px;
	padding: 10px;
}

.div12-img1 h2{
	position: absolute;
	color: #fff;
	top: 4820px;
	left: 420px;
	font-weight: 400;
    font-family: Merriweather,serif;
    font-size: 1.875rem;
    line-height: 1.2;
}

.div12-img1 p{
	position: absolute;
	color: #fff;
	top: 4900px;
	left: 420px;
	width: 350px;
	font-weight: 400;
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

.div12-img1 a{
	position: absolute !important;
	color: white;
	top: 5060px;
	left: 420px;
	font-weight: 400;
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

.sec1{
	margin-top: 800px;
	background-color: #d8d8d8;
	padding-bottom: 80px;
}

.main4 h1{
    text-align: center;
    font-size: 2.25rem;
    width: 740px;
    margin: 80px auto 0;
    padding-top: 20px;
}

.main4 p{
	margin-top: 20px;
	width: 740px;
	text-align: center;
	font-size: 1rem;
    line-height: 1.6;
    margin-left: 585px;
    font-family: 'Open Sans',sans-serif;
}

.div15{
	padding-left: 400px;
}

.icon{
	display: inline-block;
	margin-left: 110px;
	margin-top: 80px;
}

.icon img{
	width: 75px;
	height: 75px;
	padding-left: 30px;
	transition: 0.4s;
}

.icon img:hover{
	width: 85px;
	height: 85px;
	cursor: pointer;
	transition: 0.4s;
}

.icon h3{
	display: inline-block;
	font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: 30px;
    font-family: 'Open Sans',sans-serif !important;
}

footer{
	background-color: #282828;
}

.footer p{
	width: 400px;
	color: #fff;
	padding-top: 60px;
	text-align: center;
	margin-left: 750px;
    font-family: 'Open Sans',sans-serif !important;
}

.gits2{
	background-color: #494949;
	height: 0.7px;
	width: 800px;
	margin: 50px 520px;
}

.logo{
	margin-left: 850px;
	padding-bottom: 50px;
}

.logo img{
	width: 25px;
	height: 25px;
	margin-left: 10px;
}

.i-div{
	width: 30px;
	height: 30px;
}

.footer .p{
	padding-bottom: 20px;
	color: #FFFACD;
} 

.ind-main{
	padding-top: 50px;
	padding-bottom: 50px;
}

div#quad { 
  background-color: #000; 
  font-size: 0; width: 60%; 
  margin: 0 auto;
  box-shadow: 0 0 12px rgba(0,0,0,0.8);
}
div#quad figure { 
  margin: 0; width: 50%; 
  height: auto; transition: 1s; 
  display: inline-block; 
  position: relative; overflow: hidden; 
}
div#quad figure:hover { cursor: pointer; z-index: 4; }
div#quad figure img { width: 100%; height: 356px; }
div#quad figure:nth-child(1) { transform-origin: top left; }
div#quad figure:nth-child(2) { transform-origin: top right; }
div#quad figure:nth-child(3) { transform-origin: bottom left; }
div#quad figure:nth-child(4) { transform-origin: bottom right; }
div#quad figure figcaption { 
  margin: 0; opacity: 0; 
  background: rgba(0,0,0,0.3); 
  color: #fff; padding: .3rem; 
  font-size: 1.2rem; 
  position: absolute; 
  bottom: 0; width: 100%;
  transition: 1s 1s opacity; 
}
.expanded { transform: scale(2); z-index: 5;  }
div#quad figure.expanded figcaption { opacity: 1; }
div.full figure:not(.expanded) { pointer-events: none; }

*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

.body {
  margin: 0;
  color: #707070;
  background-color: #333;
}

.container {
  margin: 0 auto;
  max-width: 1141px;
  max-height: 100vh;
  background-color: white;
  margin-top: 50px;
}


/* Useful Classes */
.xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transition {
  transition: all 350ms ease-in-out;
}

.r-3-2 {
  width: 100%;
  padding-bottom: 66.667%;
  background-color: #ddd;
}

.image-holder {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Main Styles */
.gallery-wrapper {
  position: relative;
  overflow: hidden;
}

.gallery {
  position: relative;
  white-space: nowrap;
  font-size: 0;
}

.item-wrapper {
  cursor: pointer;
  width: 23%; /* arbitrary value */
  display: inline-block;
  background-color: white;
}

.gallery-item { opacity: 0.5; }
.gallery-item.active { opacity: 1; }

.controls {
  font-size: 0;
  border-top: none;
}
.move-btn {
  display: inline-block;
  width: 50%;
  border: none;
  color: #ccc;
  background-color: transparent;
  padding: 0.2em 1.5em;
}
.move-btn:first-child {border-right: none;}
.move-btn.left  { cursor: w-resize; }
.move-btn.right { cursor: e-resize; }
